{% load i18n %}

{% block pre_forgot_password %}
<form id="form1" class="ng-pristine ng-valid ng-scope"
      method="POST"
      action="{% url 'forgot_password' %}"
      autocomplete="off" >
  {% csrf_token %}
{% endblock %}

  <div class="panel panel-default">

    <div class="panel-heading">
    {% block forgot_password_header %}
      <h3 class="login-title">
        {% trans 'Forgot Password' %}
      </h3>
    {% endblock %}
    </div>
    <div class="panel-body">
    {% block forgot_password_body %}
      {% if HORIZON_CONFIG.password_autocomplete != "on" %}
        <div class="fake_credentials" style="display: none">
          <input type="text" name="fake_email" value="" />
          <input type="password" name="fake_password" value="" />
        </div>
      {%endif%}
        <div class="panel-body">
            <fieldset hz-login-finder>
                {% include "horizon/common/_form_fields.html" %}
            </fieldset>
            {% if password_reset == 'OK' %}
            <div class="form-group clearfix warning">
                <p>
                  {% trans "Reset password e-mail sent successfully." %}
                </p>
            </div>
            {% elif password_reset == 'user_not_found' %}
            <div class="form-group clearfix error help-block alert alert-danger">
                <p>
                  {% trans "Account not found." %}
                </p>
            </div>
            {% elif password_reset == 'FAIL' %}
            <div class="form-group clearfix error help-block alert alert-danger">
                <p>
                  {% trans "Could not reset password. Contact the administrator." %}
                </p>
            </div>
            {%endif%}
        </div>
    {% endblock %}
    </div>

    <div class="panel-footer">
      {% block forgot_password_footer %}
        <button id="forgotPasswordBtn" type="submit" class="btn btn-primary pull-right">{% trans "Send Reset Password" %}
        </button>
        <a class="btn btn-primary pull-left" href="{% url 'login' %}" target="_self">
          {% trans "Back" %}
        </a>
        <div class="clearfix"></div>
      {% endblock %}
    </div>
  </div>

{% block post_forgot_password%}
</form>

{% endblock %}
